*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url('./manyColors.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}

.casket{
    border: 6px solid black;
    display: flex;
    flex-direction: row;
    padding: 30px 120px;
    border-radius: 100px;
    background-color: rgb(165, 1, 1);
}

div#container{
    display: grid; 
    width: 450px;
    height: 450px;
    border: 1px solid black;
    
}
#item{
    display: flex;
    flex-direction: row;
    /*border: 1px solid blue;*/
    flex-grow: 0;
 
}

#subItem{
    /*border: 1px solid yellow;*/
    flex-grow: 1;
    background-color: white;

}

#otherItems{
    border: 1px solid black;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 150px;
    height: 450px;
    background-color: whitesmoke;
    border-radius: 50px 0px 0px 50px;
}
#send, #erase, #road, #rainbow, #eraseOne{
    text-align: center; 
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 150px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 2px 1px rgb(189, 171, 139);
    background-color: rgb(230, 223, 223);
    margin: 10px 20px;
    font-size: 10px;
    font-weight: 900;
}

#colorInput{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#colorInput::-webkit-color-swatch{
    border-radius: 50%;
    border: none;
    box-shadow: 2px 1px rgb(189, 171, 139);
}


